body{
  background-image: url("./huerta.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
}

.container {
  text-align: center;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  display:flex;
  flex-direction: column;
}

.encabezado {
  background: #50514f;
  color: #fff;
}

.main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}

.main input{
  text-align: center;
  padding: 10px;
}

button {
  background: transparent;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  color: white;
  font-size: 1em;
  padding: 9px 17px 9px 15px;
  gap: 12px;
}

button:hover{
  background: #064E3B;
  opacity: 1;
}